# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\google download\ordov\web_codes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
